<div class="container" style="background-color: #ccfff5">
<div class="main-title">
    <h1 class="cent">Words per minute</h1>
    <br/>
</div>
<div class="main_content">
    <h2 class="content-title", style="text-align: center">What is words per minute?</h2>
    <br/>
    <br/>
    <h3>
    <p >&nbsp&nbsp&nbsp&nbsp&nbsp&nbspWords per minute is an educational game in which users can not only compete with each other,
    but also improve their typing skills. </p> <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspTyping is an extremely useful skill, as various electronic devices are now firmly 
    entrenched in our lives. The Internet is widely used, and in order to receive the necessary information and feel comfortable in
    the information space, certain typing skills are needed, for example, in order not to feel embarrassed in front of interlocutors. </p>
    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspIt is these skills that this game allows you to develop.
    </p>
    </h3>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>
</div>
