<h1>GameWords#input</h1>
<p>Find me in app/views/game_words/input.html.erb</p>
<div id='start-container'>
  <%= form_with url: start_game_path do |form| %>
  <%= form.submit("Begin", id: 'begin-button') %>
  <% end %> 
</div>
<div id='result-container'></div>